html {
    scroll-behavior: smooth;
}

#main {
    margin-left: 200px;
    padding: 20px;
}

body {
    background-color: rgb(206, 206, 206);
}

.navigation-bar {
    background: rgb(158, 158, 158);
    height: 100%;
    width: 200px;
    position: fixed!important;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
    overflow-x: hidden;
    display: inline-block;
    transition: 0.5s;
}

li a {
    text-decoration: none;
}

.bar-block {
    background-color: black;
    color: greenyellow;
    font-family: 'Noto Sans HK';
    border: none;
    padding: 16px 0px 16px 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.bar-block:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}

.bar-icon {
    font-size: 20px;
    padding-right: 15px;
}

.ProjImage {
    text-align: center;
}
